@charset "UTF-8";

:root{
    --primary-bg: #0D0D0D;
    --secondary-bg: #171717;
    --card-bg: #222222;
    --borders: #685a28;
    --primary-txt: #F2E8D5;
    --secondary-txt: #B8B0A0;
    --accent: #990800;
    --accent-hover: #C20A00; 
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-bg);
}
header{
    background-color: var(--secondary-bg);
    height: 50px;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: center;

}
header .img{
    height: 50px;
    width: 200px;

    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}
header nav{
    grid-column: -2 / 4;
    justify-self: center;
    align-self: center;
}
nav i{
    color: var(--accent);
    font-size: 1.5em;
}

main{
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
}
#banner{
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    gap: 5px;
    
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url("../images/campfire-party.jpg") no-repeat center center;
    background-size: cover;
}

.banner-text{
    color: var(--primary-txt);
    justify-self: center;
}
.banner-btn-container{
    justify-self: center;
    margin-bottom: 5px;
}
.btn-banner{
    height: 50px;
    width: 150px;
    white-space: wrap;
    border-radius: 10px;
    border: 1px solid var(--primary-txt) ;
    background-color: var(--accent);
    color: var(--primary-txt);
} 
.btn-banner:hover{
    background-color: var(--accent-hover);
    border: 1px solid var(--secondary-txt);
    cursor: pointer;
}